<div class="container">
<div class="row justify-content-center">
    <div class="col-10">
    <%= render 'shared/errors', obj: @article%>
      <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-success rounded", local: true) do |f| %>

          <div class= "form-group row">
            <%= f.label :title, class: "col-2 col-from-label text-light" %>
              <div class= "col-10">
                <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
              </div>
          </div>
          
          <div class= "form-group row mt-3">
            <%= f.label :discription, class: "col-2 col-from-label text-light" %>
            <div class= "col-10">
              <%= f.text_area :discription, rows: 10, class: "form-control shadow rounded", placeholder: "Description  of article" %>
              </div>
          </div>

          <div class= "form-group row mt-3">
            <%= f.label :bar_code, class: "col-2 col-from-label text-light" %>
              <div class= "col-10">
                <%= f.number_field :bar_code, class: "form-control shadow rounded", placeholder: "Bar_code of article" %>
              </div>
          </div>

          <div class= "form-group row mt-3">
            <%= f.label :category, class: "col-2 col-from-label text-light" %>
              <div class= "col-10">
                <%= f.collection_select(:category_ids, Category.all, :id, :name,
                {prompt: "Make Your Selection From the List below (can be empty)"}, { multiple: true, class: "custom-select shadow rounded" }) %>
              </div>
          </div>

          <div class= "form-group row justify-content-center mt-3" id = "submit_btn">
            <%= f.submit class: "btn btn-outline-light btn-lg" %>
          </div>

      <% end %>
    </div>
    <div class="text-center mb-3"><%= link_to '[ Return to Article Listing ]', articles_path, class: "text-primary" %></div>
  </div >
</div>