<h1>Update Your Password</h1>

<%= form_tag update_password_user_path(@user), method: :patch, class: "shadow p-3 mb-3 bg-danger rounded" do %>
  <div class="from-group row">
    <%= label_tag :current_password, "Current Password", class: "col-2 col-form-label text-light mt-4" %>
    <div class="col-10">
      <%= password_field_tag :current_password, nil, class: "form-control shadow rounded", placeholder: "Enter current password" %>
    </div>
  </div>

  <div class="from-group row">
    <%= label_tag :new_password, "New Password", class: "col-2 col-form-label text-light" %>
    <div class="col-10">
      <%= password_field_tag :new_password, nil, class: "form-control shadow rounded", placeholder: "Enter a new password" %>
    </div>
  </div>

  <div class="from-group row mt-4 justify-content-center">
    <%= submit_tag 'Update Password', class: "btn btn-outline-light " %>
  </div>
<% end %>